extends layouts/main-layout.pug

block content
    form(action="/books", method="post")
        input(type="text", name="name" placeholder="Book Title" required )
        button(type="submit") Add Book
        if message
            div.error-message #{message}    