extends layouts/main-layout.pug

block content 
    h1.page-title books
    p.page-subtitle List of all the books
    div.books
        each book in books
             dev.card: p: a(href="/books/"+book.id)  #{book.name}