extends layouts/main-layout.pug

block content
    if(book)
        p.page-subtitle book 
        dev.card: p: a(href="#")  #{book.name}
    else 
        p.error-message 
            span Book Not Found